POSTGRES_DB=estoque
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/estoque
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=sua_senha

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=sua_senha

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=coloque_sua_chave_jwt